.container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


button{
    background-color: gold;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    

}